:host {
  height: 20px;
  display: block;
}

.tips {
  text-align: center;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  display: block;
}

.tip {
  position: absolute;
  width: 100%;
  top: 0;
  text-decoration: underline;
  line-height: 22px;
  font-size: 16px;
  transition: 0.2s;

  &:hover,
  &:active {
    font-size: 16.3px;
  }
}
